# Введение в Питон

### Понедельник

In [61]:
print("Hello world!")

Hello world!

In [62]:
##### Проверим типы переменных

a = 30
b = 'LALA'
c = 4.09

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [21]:
####################################################
##### Здесь я делаю аналог SQLовского case when
###################################################

a=40

### case when ...
if a < 5:
    print('a < 5')
#### when ...
elif a < 15:
    print('a between 5 and 15 ')
#### else 
else:
    print('a>15')

a>15

In [ ]:
##### Цикл с условием

for i in range(1,100):
    if i > 6:
        print(i)
    else:
        print(i**2)

In [58]:
###### Множественные циклы

for i in range(0,15):
    for j in range(0,15):
        print('i = ',i)
        print('j = ',j)

i =  0
j =  0
i =  0
j =  1
i =  0
j =  2
i =  0
j =  3
i =  0
j =  4
i =  0
j =  5
i =  0
j =  6
i =  0
j =  7
i =  0
j =  8
i =  0
j =  9
i =  0
j =  10
i =  0
j =  11
i =  0
j =  12
i =  0
j =  13
i =  0
j =  14
i =  1
j =  0
i =  1
j =  1
i =  1
j =  2
i =  1
j =  3
i =  1
j =  4
i =  1
j =  5
i =  1
j =  6
i =  1
j =  7
i =  1
j =  8
i =  1
j =  9
i =  1
j =  10
i =  1
j =  11
i =  1
j =  12
i =  1
j =  13
i =  1
j =  14
i =  2
j =  0
i =  2
j =  1
i =  2
j =  2
i =  2
j =  3
i =  2
j =  4
i =  2
j =  5
i =  2
j =  6
i =  2
j =  7
i =  2
j =  8
i =  2
j =  9
i =  2
j =  10
i =  2
j =  11
i =  2
j =  12
i =  2
j =  13
i =  2
j =  14
i =  3
j =  0
i =  3
j =  1
i =  3
j =  2
i =  3
j =  3
i =  3
j =  4
i =  3
j =  5
i =  3
j =  6
i =  3
j =  7
i =  3
j =  8
i =  3
j =  9
i =  3
j =  10
i =  3
j =  11
i =  3
j =  12
i =  3
j =  13
i =  3
j =  14
i =  4
j =  0
i =  4
j =  1
i =  4
j =  2
i =  4
j =  3
i =  4
j =  4
i =  4
j =  5
i =  4
j =  6
i =  4
j =  7
i =  4
j =  8
i =  4
j =  9
i =  4
j =  10
i =  4
j =  11
i =  4
j =  12
i =  4
j =  13
i =  4
j =  14
i =  5
j =  0
i =  5
j =  1
i =  5
j =  2
i =  5
j =  3
i =  5
j =  4
i =  5
j =  5
i =  5
j =  6
i =  5
j =  7
i =  5
j =  8
i =  5
j =  9
i =  5
j =  10
i =  5
j =  11
i =  5
j =  12
i =  5
j =  13
i =  5
j =  14
i =  6
j =  0
i =  6
j =  1
i =  6
j =  2
i =  6
j =  3
i =  6
j =  4
i =  6
j =  5
i =  6
j =  6
i =  6
j =  7
i =  6
j =  8
i =  6
j =  9
i =  6
j =  10
i =  6
j =  11
i =  6
j =  12
i =  6
j =  13
i =  6
j =  14
i =  7
j =  0
i =  7
j =  1
i =  7
j =  2
i =  7
j =  3
i =  7
j =  4
i =  7
j =  5
i =  7
j =  6
i =  7
j =  7
i =  7
j =  8
i =  7
j =  9
i =  7
j =  10
i =  7
j =  11
i =  7
j =  12
i =  7
j =  13
i =  7
j =  14
i =  8
j =  0
i =  8
j =  1
i =  8
j =  2
i =  8
j =  3
i =  8
j =  4
i =  8
j =  5
i =  8
j =  6
i =  8
j =  7
i =  8
j =  8
i =  8
j =  9
i =  8
j =  10
i =  8
j =  11
i =  8
j =  12
i =  8
j =  13
i =  8
j =  14
i =  9
j =  0
i =  9
j =  1
i =  9
j =  2
i =  9
j =  3
i =  9
j =  4
i =  9
j =  5
i =  9
j =  6
i =  9
j =  7
i =  9
j =  8
i =  9
j =  9
i =  9
j =  10
i =  9
j =  11
i =  9
j =  12
i =  9
j =  13
i =  9
j =  14
i =  10
j =  0
i =  10
j =  1
i =  10
j =  2
i =  10
j =  3
i =  10
j =  4
i =  10
j =  5
i =  10
j =  6
i =  10
j =  7
i =  10
j =  8
i =  10
j =  9
i =  10
j =  10
i =  10
j =  11
i =  10
j =  12
i =  10
j =  13
i =  10
j =  14
i =  11
j =  0
i =  11
j =  1
i =  11
j =  2
i =  11
j =  3
i =  11
j =  4
i =  11
j =  5
i =  11
j =  6
i =  11
j =  7
i =  11
j =  8
i =  11
j =  9
i =  11
j =  10
i =  11
j =  11
i =  11
j =  12
i =  11
j =  13
i =  11
j =  14
i =  12
j =  0
i =  12
j =  1
i =  12
j =  2
i =  12
j =  3
i =  12
j =  4
i =  12
j =  5
i =  12
j =  6
i =  12
j =  7
i =  12
j =  8
i =  12
j =  9
i =  12
j =  10
i =  12
j =  11
i =  12
j =  12
i =  12
j =  13
i =  12
j =  14
i =  13
j =  0
i =  13
j =  1
i =  13
j =  2
i =  13
j =  3
i =  13
j =  4
i =  13
j =  5
i =  13
j =  6
i =  13
j =  7
i =  13
j =  8
i =  13
j =  9
i =  13
j =  10
i =  13
j =  11
i =  13
j =  12
i =  13
j =  13
i =  13
j =  14
i =  14
j =  0
i =  14
j =  1
i =  14
j =  2
i =  14
j =  3
i =  14
j =  4
i =  14
j =  5
i =  14
j =  6
i =  14
j =  7
i =  14
j =  8
i =  14
j =  9
i =  14
j =  10
i =  14
j =  11
i =  14
j =  12
i =  14
j =  13
i =  14
j =  14

### Вторник

In [65]:
##### Логические условия

a1 = 5
a2 = 5
a3 = 7

print( (a1!=a2) & (a1==a3) )
print( (a1!=a2) | (a1==a3) )

######

print( (a1!=a2) and (a1==a3) )
print( (a1!=a2) or (a1==a3) )

False
False
False
False

In [66]:
##### Остаток от деления
d = 101

print(d % 2)

1

In [63]:
##### Списки

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

print('Длина списка = ', len(a))

Длина списка =  11

In [64]:
print('Элемент 1 = ', a[0])
print('Элемент 2 = ', a[1])
print('Элемент 3 = ', a[2])
print('Элемент 99 = ', a[98])

Элемент 1 =  1
Элемент 2 =  1
Элемент 3 =  2

IndexError: list index out of range

In [67]:
###### Список может состоять из элементов с разными типами данных

b = [5, "LALA", 6.2]

In [76]:
##### Список это изменяемый тип данных

c = [1,2,3]
c.append('LALA')

In [77]:
#c = c.append('LALA')
print(c)

[1, 2, 3, 'LALA']

In [78]:
############## Введение в pandas

df = pd.read_csv('C:/Users/D.Elistratov/Documents/Презентации лекций/Неделя 6/ПИТОН/ORDER_LIST.csv')

In [79]:
print('Количество строк в датафрейме',len(df))

Количество строк в датафрейме 5000

In [80]:
df.head(10)
#df.tail(10)

,id_order,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city
0,113612,1644.0,2021-07-01T00:13:39,NaN,NaN,NaN,11.0,117
1,110195,280.0,2021-07-01T00:17:26,2021-07-01T00:23:26,2021-07-01T00:33:26,NaN,11.0,112
2,114560,2536.0,2021-07-01T00:36:00,2021-07-01T00:41:00,2021-07-01T00:44:00,2021-07-01T01:42:00,10.0,115
3,111284,NaN,2021-07-01T00:36:32,NaN,NaN,NaN,11.0,111
4,110131,3730.0,2021-07-01T00:36:34,2021-07-01T00:40:34,2021-07-01T00:50:34,NaN,10.0,118
5,113643,3597.0,2021-07-01T00:36:35,NaN,NaN,NaN,65.0,116
6,111093,4306.0,2021-07-01T01:05:39,2021-07-01T01:11:39,NaN,NaN,10.0,111
7,112639,327.0,2021-07-01T01:05:48,2021-07-01T01:09:48,2021-07-01T01:17:48,2021-07-01T02:04:48,10.0,115
8,110664,1147.0,2021-07-01T01:25:20,2021-07-01T01:31:20,2021-07-01T01:42:20,NaN,10.0,111
9,110017,2625.0,2021-07-01T01:41:09,2021-07-01T01:45:09,NaN,NaN,78.0,111

In [81]:
df['order_time'] = pd.to_datetime(df['order_time'])
df['assign_time'] = pd.to_datetime(df['assign_time'])
df['arrive_to_client_time'] = pd.to_datetime(df['arrive_to_client_time'])
df['order_finish_time'] = pd.to_datetime(df['order_finish_time'])

In [82]:
print('COUNT DISTINCT ID_DRIVER',len(df['id_driver'].unique()))
print('COUNT DISTINCT ID_ORDER',len(df['id_order'].unique()))

COUNT DISTINCT ID_DRIVER 3296
COUNT DISTINCT ID_ORDER 5000

In [83]:
df['id_driver'] = df['id_driver'].fillna(-1)